### Trying out what was in 'Housing' but without <i>"total number of bedrooms"</i>

In [1]:
import pandas as pd

In [2]:
housing = pd.read_csv('datasets/housing/housing.csv')

In [9]:
housing

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...,...
20635,-121.09,39.48,25.0,1665.0,374.0,845.0,330.0,1.5603,78100.0,INLAND
20636,-121.21,39.49,18.0,697.0,150.0,356.0,114.0,2.5568,77100.0,INLAND
20637,-121.22,39.43,17.0,2254.0,485.0,1007.0,433.0,1.7000,92300.0,INLAND
20638,-121.32,39.43,18.0,1860.0,409.0,741.0,349.0,1.8672,84700.0,INLAND
20639,-121.24,39.37,16.0,2785.0,616.0,1387.0,530.0,2.3886,89400.0,INLAND

In [4]:
housing.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20640 entries, 0 to 20639
Data columns (total 10 columns):
longitude             20640 non-null float64
latitude              20640 non-null float64
housing_median_age    20640 non-null float64
total_rooms           20640 non-null float64
total_bedrooms        20433 non-null float64
population            20640 non-null float64
households            20640 non-null float64
median_income         20640 non-null float64
median_house_value    20640 non-null float64
ocean_proximity       20640 non-null object
dtypes: float64(9), object(1)
memory usage: 1.6+ MB

### from <b>Housing</b> where we built corr_matrix I made up my mind that <i>total_bedrooms is not important</i>

In [6]:
from sklearn.model_selection import train_test_split

train_set, test_set = train_test_split(housing, test_size=0.3, random_state=42)

In [15]:
def drop_attr(df, attribue):
    return df.drop(attribue, axis=1)

In [16]:
train_set_no_bed = drop_attr(train_set, 'total_bedrooms')
train_set_no_bed

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,median_house_value,ocean_proximity
7061,-118.02,33.93,35.0,2400.0,1218.0,408.0,4.1312,193800.0,<1H OCEAN
14689,-117.09,32.79,20.0,2183.0,999.0,496.0,2.8631,169700.0,NEAR OCEAN
17323,-120.14,34.59,24.0,1601.0,731.0,285.0,4.2026,259800.0,NEAR OCEAN
10056,-121.00,39.26,14.0,810.0,302.0,138.0,3.1094,136100.0,INLAND
15750,-122.45,37.77,52.0,3188.0,1526.0,664.0,3.3068,500001.0,NEAR BAY
...,...,...,...,...,...,...,...,...,...
11284,-117.96,33.78,35.0,1330.0,658.0,217.0,6.3700,229200.0,<1H OCEAN
11964,-117.43,34.02,33.0,3084.0,1753.0,449.0,3.0500,97800.0,INLAND
5390,-118.38,34.03,36.0,2101.0,1756.0,527.0,2.9344,222100.0,<1H OCEAN
860,-121.96,37.58,15.0,3575.0,1777.0,559.0,5.7192,283500.0,<1H OCEAN
15795,-122.42,37.77,52.0,4226.0,2619.0,1242.0,2.5755,325000.0,NEAR BAY

In [17]:
X_train = drop_attr(train_set_no_bed, 'median_house_value')
X_train

,longitude,latitude,housing_median_age,total_rooms,population,households,median_income,ocean_proximity
7061,-118.02,33.93,35.0,2400.0,1218.0,408.0,4.1312,<1H OCEAN
14689,-117.09,32.79,20.0,2183.0,999.0,496.0,2.8631,NEAR OCEAN
17323,-120.14,34.59,24.0,1601.0,731.0,285.0,4.2026,NEAR OCEAN
10056,-121.00,39.26,14.0,810.0,302.0,138.0,3.1094,INLAND
15750,-122.45,37.77,52.0,3188.0,1526.0,664.0,3.3068,NEAR BAY
...,...,...,...,...,...,...,...,...
11284,-117.96,33.78,35.0,1330.0,658.0,217.0,6.3700,<1H OCEAN
11964,-117.43,34.02,33.0,3084.0,1753.0,449.0,3.0500,INLAND
5390,-118.38,34.03,36.0,2101.0,1756.0,527.0,2.9344,<1H OCEAN
860,-121.96,37.58,15.0,3575.0,1777.0,559.0,5.7192,<1H OCEAN
15795,-122.42,37.77,52.0,4226.0,2619.0,1242.0,2.5755,NEAR BAY

In [18]:
y_train = train_set_no_bed["median_house_value"].copy()
y_train

7061     193800.0
14689    169700.0
17323    259800.0
10056    136100.0
15750    500001.0
           ...
11284    229200.0
11964     97800.0
5390     222100.0
860      283500.0
15795    325000.0
Name: median_house_value, Length: 14448, dtype: float64

In [22]:
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer

In [27]:
list(X_train)

['longitude',
 'latitude',
 'housing_median_age',
 'total_rooms',
 'population',
 'households',
 'median_income',
 'ocean_proximity']

In [29]:
num_attribs = list(drop_attr(X_train, "ocean_proximity"))
cat_attribs = ["ocean_proximity"]

full_pipeline = ColumnTransformer([('std_scaler', StandardScaler(), num_attribs), 
                                   ("cat", OneHotEncoder(), cat_attribs),])

In [30]:
housing_prepared = full_pipeline.fit_transform(X_train)

In [31]:
from sklearn.linear_model import LinearRegression

lin_reg = LinearRegression() 
lin_reg.fit(housing_prepared, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [33]:
test_set_no_bed = drop_attr(test_set, 'total_bedrooms')
X_test = drop_attr(test_set_no_bed, 'median_house_value')
X_test_prepared = full_pipeline.fit_transform(X_test)

In [36]:
y_pred = lin_reg.predict(X_test_prepared)

In [37]:
y_test = test_set_no_bed["median_house_value"].copy()

In [38]:
from sklearn.metrics import mean_squared_error, r2_score
print('Mean squared error: %.2f'
      % mean_squared_error(y_test, y_pred))

Mean squared error: 4690990438.15